* { margin : 0; padding: 0; }

 .clearfix { overflow: auto }

body
{
	width: auto;	
}

.section1
{
	width: auto;
	background: #f5e1c9;

}
.links 
{
	float: right;
}
.logo
{
	float: left;
}
.links ul 
{
	list-style: none;
}
.links ul li
{
	padding: 5px;
	display: inline-flex;  

}
.links ul li a
{
	color: brown;
	text-decoration: none;
}
.section2n3
{
	margin: 0 auto;
	width: 1000px;
	background-color: white;
}
.text h3
{
	margin: 25px;
}
.image
{
	margin: 30px;
	border-bottom: 30px;
}
.img1
{
	float: left;
}
.img2
{
	float: right;
}
.section4
{
	margin: 0 auto;
	width: 1000px;
	background-color: white;
}
.section4 p
{
	margin: 30px;
}
.section5
{
	margin: 0 auto;
	width: 1000px;
	background-color: white;
}
.section5 ul
{
	margin: 30px;
	list-style: none;
}
.section5 ul li
{
	display: inline-block;
}
.rectangle 
{
	width: 230px;
	height: 100px;
	background-color: #f5f0f2;
	box-shadow: 10px;
}

ul li a
{
	color: black; 
	text-decoration: none;
}
